@model IEnumerable<Teams>
<!--Aubrey Farnbach (Wright) Section 2 Group 1-->
<!--This displays the Recipe select list users can filter with-->
<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-teamid="">Home</a>

@foreach (var x in Model)
{
    <a class="btn btn-block @(x.TeamId.ToString() == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home" asp-route-teamid="@x.TeamId"
       asp-route-team="@x.TeamName">@x.TeamName</a>
}