@model IEnumerable<RecipeClasses>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-mealtypeid="">Home</a>
<br />

@foreach (var x in Model)
{
    <a class="btn btn-block @(x.RecipeClassDescription == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home" asp-route-mealtypeid="@x.RecipeClassId"
       asp-route-mealtype="@x.RecipeClassDescription">@x.RecipeClassDescription</a>
    <br />
}